[Desktop Entry]
Exec=kcmshell4 lilo
Icon=hdd_unmount
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_lilo
X-KDE-FactoryName=lilo
X-KDE-ParentApp=kcontrol

X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=false
X-DocPath=lilo-config/index.html
Name=Boot Manager (LILO)
Name[af]=Boot Bestuurder (Lilo)
Name[ar]=مدير إقلاع النظام (LILO)
Name[be]=Кіраўнік загрузкі LILO
Name[bg]=Стартиране
Name[bn]=বুট ম্যানেজার (LILO)
Name[br]=C'Harger loc'hañ (LILO)
Name[ca]=Gestor d'arrencada (LILO)
Name[cs]=Správce spuštění (LILO)
Name[cy]=Rheolydd Cychwyn (LILO)
Name[da]=Boothåndtering (LILO)
Name[de]=Bootmanager (LiLo)
Name[el]=Διαχειριστής Εκκίνησης (LILO)
Name[en_GB]=Boot Manager (LILO)
Name[eo]=Linukslanĉilo (LILO)
Name[es]=Gestor de arranque (LILO)
Name[et]=Alglaadur (LILO)
Name[eu]=Abioko kudeatzailea (LILO)
Name[fa]=مدیر راه‌اندازی (LILO)
Name[fi]=Käynnistyksenhallinta (LILO)
Name[fr]=Gestionnaire de démarrage (LILO)
Name[ga]=Bainisteoir Tosaithe (LILO)
Name[gl]=Xestor de arrinque (LILO)
Name[he]=מנהל האתחול (LILO)
Name[hi]=बूट प्रबंधक (लिलो)
Name[hne]=बूट प्रबंधक (लिलो)
Name[hr]=Upravljanje pokretanjem (LILO)
Name[hu]=Rendszerindító (LILO)
Name[is]=Ræsistjóri (LILO)
Name[it]=Gestore di avvio (LILO)
Name[ja]=ブートマネージャ (LILO)
Name[kk]=Жүктеуіш (LILO)
Name[ko]=부트 관리자 (LILO)
Name[lt]=Užkrovos tvarkyklė (LILO)
Name[lv]=Sāknēšanas pārvaldnieks (LILO)
Name[mk]=Boot Manager (LILO)
Name[ml]=ബൂട്ടിന്റെ നടത്തിപ്പുകാരന്‍ (ലിലോ) 
Name[ms]=Pengurus Boot (LILO)
Name[nb]=Oppstartsbehandler (LILO)
Name[nds]=Systeemstart-Pleger (LILO)
Name[ne]=बुट प्रबन्धक (LILO)
Name[nl]=Opstartbeheerder (LILO)
Name[nn]=Oppstartshandsamar (LILO)
Name[pa]=ਬੂਟ ਮੈਨੇਜਰ (LILO)
Name[pl]=Uruchamianie systemu (LILO)
Name[pt]=Gestor de Arranque (LILO)
Name[pt_BR]=Gerenciador de inicialização (LILO)
Name[ro]=Manager de boot-are (LILO)
Name[ru]=Загрузчик LILO
Name[se]=Vuolggahangieđahalli (LILO)
Name[sk]=Správca bootovania (LILO)
Name[sl]=Upravljalnik zagona (LILO)
Name[sv]=Starthanterare (Lilo)
Name[ta]=ஆரம்ப இயக்க மேலாளர்(LILO)
Name[tg]=Роҳбари Пурборкардан (LILO)
Name[th]=จัดการการบูต (LILO)
Name[tr]=Açılış Yöneticisi (LILO)
Name[uk]=Менеджер завантаження (LILO)
Name[vi]=Bộ quản lý khởi động (LILO)
Name[wa]=Apontiaedje del enondrece (LILO)
Name[xh]=Umphathi wesiNgxobo (LILO)
Name[x-test]=xxBoot Manager (LILO)xx
Name[zh_CN]=引导管理器(LILO)
Name[zh_HK]=開機管理員（LILO）
Name[zh_TW]=開機啟動管理程式(LILO)
Comment=Configure LILO (the Linux boot manager)
Comment[af]=Konfigureer Lilo (die Linux boot bestuurder)
Comment[ar]=اضبط LILO (مدير إقلاع نظام لينِكس)
Comment[be]=Наставіць LILO (кіраўнік загрузкі Linux)
Comment[bg]=Графично настройване на първоначалното зареждането на Линукс
Comment[bn]=LILO (লিনাক্স বুট ম্যানেজার) কনফিগার করে
Comment[br]=Kefluniañ LILO (ar c'harger loc'hañ evit Linux)
Comment[ca]=Aquí podreu configurar el LILO (el gestor d'arrencada de Linux)
Comment[cs]=Zde je možné nastavit LILO (LInux LOader)
Comment[cy]=Ffurfweddu LILO (rheolydd cychwyn Linux)
Comment[da]=Indstil LILO (Linux-boothåndtering)
Comment[de]=Hier können Sie LiLo (den Bootmanager von Linux) einrichten
Comment[el]=Ρύθμιση LILO (Ο διαχειριστής εκκίνησης του Linux)
Comment[en_GB]=Configure LILO (the Linux boot manager)
Comment[eo]=Agordu LILOn (la Linukslanĉilon)
Comment[es]=Configurar LILO (el gestor de arranque de Linux)
Comment[et]=Linuxi alglaaduri LILO seadistamine
Comment[eu]=Konfiguratu LILO (Linuxen abikoko kudeatzailea)
Comment[fa]=پیکربندی LILO (مدیر راه‌اندازی لینوکس)
Comment[fi]=Aseta LILO:a (Linuxin käynnistysmanageri)
Comment[fr]=Configuration de LILO (le gestionnaire de démarrage de Linux)
Comment[ga]=Cumraigh LILO (bainisteoir tosaithe Linux)
Comment[gl]=Configurar LILO (O xestor de arranque de linux)
Comment[he]=שינוי הגדרות LILO (מנהל האתחול של לינוקס)
Comment[hi]=लिलो कॉन्फ़िगर करें (लिनक्स बूट प्रबंधक)
Comment[hne]=लिलो कान्फिगर करव (लिनक्स बूट प्रबंधक)
Comment[hr]=Konfigurirajte LILO (Linux upravitelj pokretanja sustava)
Comment[hu]=A LILO rendszerindító beállításai
Comment[is]=Stilla LILO (Linux ræsistjórann)
Comment[it]=Configura LILO (il gestore dell'avvio di Linux)
Comment[ja]=LILO (Linux ブートマネージャ) の設定
Comment[kk]=LILO (Linux жүктеуішін) баптауы
Comment[ko]=LILO(리눅스 부트 관리자) 설정
Comment[lt]=Konfigūruoti LILO (Linux užkrovos tvarkyklę)
Comment[lv]=Konfigurē LILO (Linux ielādes pārvaldnieks)
Comment[mk]=Конфигурирајте го LILO (менаџерот за подигање на Линукс)
Comment[ml]=ലിലോ ക്രമീകരിയ്ക്കുക (ലിനക്സിലെ ബൂട്ടിന്റെ നടത്തിപ്പുകാരന്‍)
Comment[ms]=Selaraskan LILO (pengurus boot Linux)
Comment[nb]=Her kan du sette opp LILO (Linux oppstartssystem)
Comment[nds]=LILO (Systeemstart-Pleger vun Linux) instellen
Comment[ne]=LILO कन्फिगर गर्नुहोस् (लिनक्स बुट प्रबन्धक)
Comment[nl]=Lilo (Linux Opstartmanager) instellen
Comment[nn]=LILO-oppsett (Linux-oppstartssystemet)
Comment[pa]=LILO ਸੰਰਚਨਾ (ਲੀਨਕਸ ਬੂਟ ਮੈਨੇਜਰ)
Comment[pl]=Konfiguracja LILO (menedżera rozruchu systemu w Linuksie)
Comment[pt]=Configuração do LILO (o gestor de arranque do Linux)
Comment[pt_BR]=Configura o LILO (o gerenciador de boot do Linux)
Comment[ro]=Configurează managerul de boot-are LILO
Comment[ru]=Утилита настройки LILO (менеджера загрузки Linux)
Comment[se]=Heivet LILO (Linux-vuolggahanvuogádaga)
Comment[sk]=Nastavenie LILO (správca bootovania pre Linux)
Comment[sl]=Nastavitve LILO (zagonski upravljalnik za Linux)
Comment[sv]=Anpassa Lilo (starthanterare för Linux)
Comment[ta]=வடிவமை LILO(லினக்ஸ் இயக்க மேலாளர்)
Comment[tg]=Танзимоти LILO (Роҳбари Пурборкунии Линукс)
Comment[th]=ปรับแต่ง LILO (เครื่องมือจัดการการบูตของลินุกซ์)
Comment[tr]=LILO'yu Yapılandır
Comment[uk]=Налаштувати LILO (менеджер завантаження Linux)
Comment[vi]=Cấu hình LILO (bộ quản lý khởi động Linux)
Comment[wa]=Chal vos ploz apontyî LILO (l' enondrece Linux)
Comment[xh]=Qwalalsela LILO (umphathi we boot ye Linux)
Comment[x-test]=xxConfigure LILO (the Linux boot manager)xx
Comment[zh_CN]=配置 LILO (Linux 引导管理程序)
Comment[zh_HK]=設定 LILO (Linux 的開機管理員)
Comment[zh_TW]=你可在此設定 LILO (Linux 的開機管理程式)

X-KDE-Keywords=lilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,start
X-KDE-Keywords[bg]=Keywords=зареждане, стартиране, сектор, запис, Линукс, ядро, мениджър, lilo, boot, bootup, boot manager, linux, Other OS, MBR, startup, start
X-KDE-Keywords[ca]=lilo,arrencada,gestor d'arrencada,linux,d'altres SO,MBR
X-KDE-Keywords[cs]=Lilo,Boot,Bootup,Boot manager,Linux,Jiný OS,MBR,Startup,Start,Spuštění
X-KDE-Keywords[cy]=lilo,cychwyn, rheolydd cychwyn, linux, CG Arall, MBR, dechrau
X-KDE-Keywords[da]=lilo,boot,bootup,boothåndtering,linux,Andet OS,MBR,opstart,start
X-KDE-Keywords[de]=Lilo,Booten,Linux,MBR,Start,Systemstart,Bootmanager,andere OS
X-KDE-Keywords[el]=lilo,εκκίνηση,διαδικασία εκκίνησης,διαχειριστής εκκίνησης,linux,Άλλο ΛΣ,MBRδιαδικασία εκκίνησης,εκκίνηση
X-KDE-Keywords[eo]=lilo,lanĉo,lanĉadministrilo,Linukso,alia operaciumo,MBR,rulo
X-KDE-Keywords[es]=lilo,arranque,administrador de arranque,linux,Otro SO,MBR,inicio
X-KDE-Keywords[et]=lilo,boot,bootup,alglaadimine,linux,teine OS,MBR,käivitamine,start
X-KDE-Keywords[fa]=lilo، راه‌اندازی، راه‌اندازی، مدیر راه‌اندازی، لینوکس، سیستم عامل دیگر، MBR، راه‌اندازی، آغاز
X-KDE-Keywords[fi]=lilo,boot,bootup,käynnistyksenhallinta,linux,MBR,käynnistys,käynnistä
X-KDE-Keywords[fr]=lilo, boot, démarrage, gestionnaire de démarrage, linux, autre OS, MBR
X-KDE-Keywords[ga]=lilo,tosaigh,tosú,bainisteoir tosaithe,linux,CO eile,MBR,tosú,tús
X-KDE-Keywords[gl]=lilo,arranque,bootup,xestor de arranque,linux,Outros SO,MBR,inicio,iniciar
X-KDE-Keywords[he]=הפעלה,התחלה,MBR,אתחול,מנהל אתחול,לינוקס,מערכות הפעלה אחרות,רשומת אתחול ראשית,lilo
X-KDE-Keywords[hr]=lilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,start,pokretanje,početak,počinjanje,ostali OS,upravitelj pokretanjem
X-KDE-Keywords[hu]=lilo,boot,rendszerindítás,rendszerindítás-kezelő,Linux,más operációs rendszerek,MBR,indulás,start
X-KDE-Keywords[is]=lilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,start,ræsa
X-KDE-Keywords[it]=lilo,boot,boot manager,linux,altri sistemi operativi,MBR,avvio,gestore avvio
X-KDE-Keywords[ja]=lilo,ブート,ブートマネージャ,linux,他のOS,MBR,起動,開始
X-KDE-Keywords[ko]=lilo,부팅,부트로더,리눅스,MBR,시작
X-KDE-Keywords[lt]=lilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,start,užkrova,krovimasis,kitos OS
X-KDE-Keywords[lv]=lilo,sāknēt,sāknēšana,sāknēšanas menedžeris,linux,Citas OS,MBR,startēšana,startēt
X-KDE-Keywords[mk]=lilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,start,подигање,менаџер,линукс,старт
X-KDE-Keywords[ms]=lilo,boot,bootup,pengurus boot,linux,OS lain,MBR,startup,mula
X-KDE-Keywords[nb]=lilo,boot,oppstart,linux,andre operativsystem,MBR,start
X-KDE-Keywords[nds]=lilo,Systeemstart,boot,hoochfohren,boot manager,Systeemstart-Pleger,linux,Anner BS,MBR,starten,start
X-KDE-Keywords[ne]=लिलो, बुट, बुटअप, बुट प्रबन्धक, लिनक्स, अन्य ओएस, एमबीआर, सुरुआत, सुरु
X-KDE-Keywords[nl]=lilo,boot,bootup,boot manager,beheerder,linux,mbr,startup,start, ander besturingssysteem,opstarten,Windows,OS\2,BeOS
X-KDE-Keywords[nn]=lilo,boot,oppstart,linux,andre operativsystem,MBR,start
X-KDE-Keywords[pa]=ਲੀਲੋ, ਬੂਟ, ਬੂਟਅੱਪ, ਬੂਟ ਪਰਬੰਧਕ,ਲੀਨਕਸ, ਹੋਰ OS,MBR,ਸ਼ੁਰੂਆਤੀ, ਸ਼ੁਰੂ
X-KDE-Keywords[pl]=lilo,boot,menedżer,uruchamianie systemu,linux,linuks,inne systemy,MBR,start
X-KDE-Keywords[pt]=lilo,arranque,gestor de arranque,linux,outro SO,MBR,iniciar,início
X-KDE-Keywords[pt_BR]=lilo,boot,bootup,gerenciador de boot,linux,outro SO,MBR,inicialização,iniciar
X-KDE-Keywords[ro]=lilo,boot,boot-are,bootare,manager de boot-are,linux,alte S.O.,MBR,pornire,start
X-KDE-Keywords[ru]=lilo,boot,bootup,boot manager,linux,Other OS,MBR,загрузка,start
X-KDE-Keywords[se]=lilo,boot,vuolggaheapmi,linux,eará operatiivavuogádagat,MBR,álggaheapmi
X-KDE-Keywords[sl]=lilo,boot,bootup,boot manager,linux,drugi OS,MBR,zagon
X-KDE-Keywords[sv]=lilo,boot,bootning,bootväljare,linux,Annat OS,MBR,uppstart,start
X-KDE-Keywords[ta]= லிலோ,துவக்கம்,மேலே துவக்கு,துவக்க மேலாளர்,லினக்ஸ்,மற்ற OS,MBR,துவக்கம்,துவக்கு
X-KDE-Keywords[th]=lilo,บูต,bootup,เครื่องมือจัดการการบูต,ลินุกซ์,ระบบปฏิบัตการอื่น ๆ,MBR,การเริ่มระบบ,เริ่ม
X-KDE-Keywords[tr]=lilo,açılış,başlangıç,açılış yöneticisi,linux,diğer işletim sistemleri
X-KDE-Keywords[uk]=lilo,boot,завантаження,менеджер завантаження,linux,інші ОС,MBR,запуск
X-KDE-Keywords[vi]=lilo,boot,khởi động,bootup,mở máy,quản lý khởi động,boot manager,linux,Other OS,hệ điều hành,HĐH,MBR,khởi chạy,startup,start
X-KDE-Keywords[wa]=LILO,boot,bootup,linux,Ôtes SO,MBR,startup,start,enondrece,enondaedje
X-KDE-Keywords[x-test]=xxlilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,startxx
X-KDE-Keywords[xh]=lilo,isingxobo,faka isingxobo, uphathi wesingxobo,linux,Ezinye OS,MBR,faka isiqalo,qala
X-KDE-Keywords[zh_CN]=lilo,boot,bootup,boot manager,linux,Other OS,MBR,startup,start,引导,引导管理器,其它操作系统,主引导记录,启动

Categories=Qt;KDE;X-KDE-settings-system;
