[Desktop Entry]
Name=KPackage
Name[af]=Kpackage
Name[ar]=KPackage
Name[be]=KPackage
Name[bg]=KPackage
Name[bn]=কে-প্যাকেজ
Name[br]=KPackage
Name[ca]=KPackage
Name[cs]=KPackage
Name[cy]=KPackage
Name[da]=KPackage
Name[de]=KPackage
Name[el]=KPackage
Name[en_GB]=KPackage
Name[eo]=Pakaĵadministrilo
Name[es]=KPackage
Name[et]=KPackage
Name[eu]=KPackage
Name[fi]=KPackage
Name[fr]=KPackage
Name[ga]=KPackage
Name[gl]=KPackage
Name[he]=KPackage
Name[hi]=के-पैकेज
Name[hne]=के-पैकेज
Name[hr]=KPackage
Name[hu]=KPackage
Name[hy]=KPackage
Name[is]=KPackage
Name[it]=KPackage
Name[ja]=KPackage
Name[kk]=KPackage
Name[ko]=KPackage
Name[lt]=KPackage
Name[lv]=KPackage
Name[mk]=KPackage
Name[ml]=കെപാക്കേജ്
Name[ms]=KPackage
Name[nb]=KPackage
Name[nds]=KPackage
Name[ne]=केडीई प्याकेज
Name[nl]=KPackage
Name[nn]=KPackage
Name[pa]=ਕੇ-ਪੈਕੇਜ
Name[pl]=Pakiety
Name[pt]=KPackage
Name[pt_BR]=KPackage
Name[ro]=KPackage
Name[ru]=KPackage
Name[se]=KPackage
Name[sk]=KPackage
Name[sl]=KPackage
Name[sv]=Kpackage
Name[ta]=கே தொகுப்பு
Name[tg]=KPackage
Name[th]=จัดการแพ็กเกจ K
Name[tr]=KPackage
Name[uk]=KPackage
Name[vi]=KPackage
Name[wa]=KPackage
Name[xh]=UdibanisolweK
Name[x-test]=xxKPackagexx
Name[zh_CN]=KPackage
Name[zh_HK]=KPackage
Name[zh_TW]=KPackage
GenericName=Package Manager
GenericName[af]=Paket Bestuurder
GenericName[be]=Кіраванне пакетамі
GenericName[bg]=Мениджър на пакети
GenericName[bn]=প্যাকেজ ম্যানেজার
GenericName[br]=Merour ar pakadoù
GenericName[ca]=Gestor de paquets
GenericName[cs]=Správce balíčků
GenericName[cy]=Rheolydd Pecynnau
GenericName[da]=Pakkehåndtering
GenericName[de]=Paketmanager
GenericName[el]=Διαχειριστής πακέτων
GenericName[en_GB]=Package Manager
GenericName[eo]=Administrilo por programpakaĵoj
GenericName[es]=Gestor de paquetes
GenericName[et]=Tarkvarahaldur
GenericName[eu]=Pakete kudeatzailea
GenericName[fa]=مدیر بسته
GenericName[fi]=Ohjelmapakettien hallinta
GenericName[fr]=Gestionnaire de paquetages
GenericName[ga]=Bainisteoir Pacáistí
GenericName[gl]=Xestor de paquetes
GenericName[he]=מנהל חבילות
GenericName[hi]=पैकेज प्रबंधक
GenericName[hne]=पैकेज प्रबंधक
GenericName[hr]=Alat za upravljanje paketima
GenericName[hu]=Telepítő
GenericName[is]=Pakkastjóri
GenericName[it]=Gestione pacchetti
GenericName[ja]=パッケージマネージャ
GenericName[kk]=Дестелер менеджері
GenericName[ko]=꾸러미 관리자
GenericName[lt]=Paketų tvarkyklė
GenericName[lv]=Pakotņu pārvaldnieks
GenericName[mai]=संकुल प्रबंधक
GenericName[mk]=Менаџер на пакети
GenericName[ml]=പാക്കേജുകളുടെ നടത്തിപ്പുകാരന്‍
GenericName[ms]=Pengurus Pakej
GenericName[nb]=Pakkebehandler
GenericName[nds]=Paket-Pleger
GenericName[ne]=प्याकेज प्रबन्धक
GenericName[nl]=Pakketbeheerder
GenericName[nn]=Pakkehandsamar
GenericName[oc]=Gestinari de paquetatges
GenericName[pa]=ਪੈਕੇਜ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer pakietów
GenericName[pt]=Gestor de Pacotes
GenericName[pt_BR]=Gerenciador de pacotes
GenericName[ro]=Manager de pachete
GenericName[ru]=Менеджер пакетов
GenericName[se]=Páhkkagieđahalli
GenericName[sk]=Správca balíkov
GenericName[sl]=Upravljalnik paketov
GenericName[sv]=Pakethanterare
GenericName[ta]=தொகுப்பு மேலாளர்
GenericName[tg]=Роҳбари Package
GenericName[th]=จัดการแพ็คเกจ
GenericName[tr]=Paket Yöneticisi
GenericName[uk]=Менеджер пакунків
GenericName[vi]=Bộ quản lý gói
GenericName[wa]=Manaedjeu di pacaedjes
GenericName[xh]=Umphathi Wokudityaniswe kunye
GenericName[x-test]=xxPackage Managerxx
GenericName[zh_CN]=软件包管理器
GenericName[zh_HK]=套件管理程式
GenericName[zh_TW]=套件管理程式
MimeType=application/x-rpm;application/x-deb;
Exec=kpackage -caption "%c" %i %u
Icon=kpackage
Type=Application
X-DocPath=kpackage/index.html
Terminal=false
InitialPreference=5
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;
