[Desktop Entry]
Name=KSysV
Name[ar]=KSysV
Name[be]=KSysV
Name[bg]=KSysV
Name[bn]=কে-সিস-ভি
Name[br]=KSysV
Name[ca]=KSysV
Name[cs]=KSysV
Name[da]=KSysV
Name[de]=KSysV
Name[el]=KSysV
Name[en_GB]=KSysV
Name[es]=KSysV
Name[et]=KSysV
Name[eu]=KSysV
Name[fi]=KSysV
Name[fr]=KSysV
Name[ga]=KSysV
Name[gl]=KSysV
Name[he]=KSysV
Name[hi]=के-सिस-वी
Name[hne]=के-सिस-वी
Name[hr]=KSysV
Name[hu]=KSysV
Name[hy]=KSysV
Name[is]=KSysV
Name[it]=KSysV
Name[ja]=KSysV
Name[kk]=KSysV
Name[ko]=KSysV
Name[ku]=KSysV
Name[lt]=KSysV
Name[lv]=KSysV
Name[mk]=KSysV
Name[ml]=കെസിസ്‌വി
Name[nb]=KSysV
Name[nds]=KSysV
Name[ne]=KSysV
Name[nl]=KSysV
Name[nn]=KSysV
Name[pa]=KSysV
Name[pl]=KSysV
Name[pt]=KSysV
Name[pt_BR]=KSysV
Name[ro]=KSysV
Name[ru]=KSysV
Name[se]=KSysV
Name[sk]=KSysV
Name[sl]=KSysV
Name[sv]=KSysV
Name[ta]=KSysV
Name[th]=ปรับแต่งการเริ่มระบบแบบ SysV
Name[tr]=KSysV
Name[uk]=KSysV
Name[vi]=KSysV
Name[wa]=KSysV
Name[x-test]=xxKSysVxx
Name[zh_CN]=KSysV
Name[zh_HK]=KSysV
Name[zh_TW]=KSysV
GenericName=SysV-Init Editor
GenericName[ar]=محرر SysV-Init
GenericName[be]=Рэдактар SysV-Init
GenericName[bg]=Редактор на SysV-Init
GenericName[bn]=সিস-ভি-আইনিট সম্পাদক
GenericName[br]=Aozer deraouiñ SysV
GenericName[ca]=Editor de l'init SysV
GenericName[cs]=SysV-Init editor
GenericName[cy]=Golygydd SysV-Init
GenericName[da]=SysV-Init Editor
GenericName[de]=SysV-Init-Editor
GenericName[el]=Επεξεργαστής SysV-Init
GenericName[en_GB]=SysV-Init Editor
GenericName[es]=Editor de inicio SysV
GenericName[et]=SysV-Init redaktor
GenericName[eu]=SysV Init editorea
GenericName[fa]=ویرایشگر آغازین SysV
GenericName[fi]=SysV-Init -asetusmuokkain
GenericName[fr]=Éditeur de l'initialisation SysV
GenericName[ga]=Eagarthóir SysV-Init
GenericName[gl]=Editor de inicio SysV
GenericName[he]=מנהל השירותים
GenericName[hi]=सिस-वी-इनिट संपादक
GenericName[hne]=सिस-वी-इनिट संपादक
GenericName[hr]=Uređivač SysV-Init
GenericName[hu]=Szolgáltatáskezelő
GenericName[hy]=SysV-Init խմբագրիչ
GenericName[is]=SysV Init-stjóri
GenericName[it]=Editor per SysV-Init
GenericName[ja]=SystemV 起動スクリプトエディタ
GenericName[kk]=SysV-Init редакторы
GenericName[ko]=SysV Init 편집기
GenericName[lt]=SysV-Init rengyklė
GenericName[lv]=SysV-Init redaktors
GenericName[mk]=Уредувач на SysV-Init
GenericName[ml]=സിസ്‌വി-ഇനിറ്റ് സംശോധകന്‍ 
GenericName[nb]=SysV-init-redigering
GenericName[nds]=Editor för SysV-Init
GenericName[ne]=SysV-Init सम्पादक
GenericName[nl]=SysV-Init Editor
GenericName[nn]=SysV-init-redigering
GenericName[pa]=SysV-Init ਐਡੀਟਰ
GenericName[pl]=Edytor Startu SysV
GenericName[pt]=Editor do SysV-Init
GenericName[pt_BR]=Editor do SysV-Init
GenericName[ro]=Manager de servicii SysV
GenericName[ru]=Редактор сценариев SysV
GenericName[se]=Sysv-init-doaimmaheapmi
GenericName[sk]=SysV-Init editor
GenericName[sl]=Urejevalnik začetnih nastavitev SysV
GenericName[sv]=Sys V-starteditor
GenericName[ta]=SysV-Init Editor
GenericName[th]=แก้ไขการเริ่มระบบแบบ SysV
GenericName[tr]=SysV-Init Düzenleyici
GenericName[uk]=Редактор KSysV-Init
GenericName[vi]=SysV-Bộ sửa Init
GenericName[wa]=Aspougneu SysV-Init
GenericName[x-test]=xxSysV-Init Editorxx
GenericName[zh_CN]=SysV-Init 编辑器
GenericName[zh_HK]=SysV-Init 編輯器
GenericName[zh_TW]=SysV-Init 編輯器
MimeType=
Exec=ksysv -caption "%c" %i
Icon=ksysv
X-DocPath=ksysv/index.html
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
X-KDE-SubstituteUID=true
Categories=Qt;KDE;System;
