[Desktop Entry]
Name=KDat
Name[af]=Kdat
Name[ar]=KDat
Name[be]=KDat
Name[bg]=KDat
Name[bn]=কে-ড্যাট
Name[br]=KDat
Name[ca]=KDat
Name[cs]=KDat
Name[cy]=KDat
Name[da]=KDat
Name[de]=KDat
Name[el]=KDat
Name[en_GB]=KDat
Name[eo]=Surbendigilo
Name[es]=KDat
Name[et]=KDat
Name[eu]=KDat
Name[fi]=KDat
Name[fr]=KDat
Name[ga]=KDat
Name[gl]=KDat
Name[he]=KDat
Name[hi]=के-डैट
Name[hne]=के-डैट
Name[hr]=KDat
Name[hu]=KDat
Name[hy]=KDat
Name[is]=KDat
Name[it]=KDat
Name[ja]=KDat
Name[kk]=KDat
Name[ko]=KDat
Name[lt]=KDat
Name[lv]=KDat
Name[mk]=KDat
Name[ml]=കെഡാറ്റ്
Name[ms]=KDat
Name[nb]=KDat
Name[nds]=KDat
Name[ne]=केडीई ड्याट
Name[nl]=KDat
Name[nn]=KDat
Name[oc]=KDat
Name[pa]=KDat
Name[pl]=KDat
Name[pt]=KDat
Name[pt_BR]=KDat
Name[ro]=KDat
Name[ru]=KDat
Name[se]=KDat
Name[sk]=KDat
Name[sl]=KDat
Name[sv]=Kdat
Name[ta]=கேடாட்
Name[tg]=KДат
Name[th]=KDat
Name[tr]=KDat
Name[uk]=KDat
Name[vi]=KDat
Name[wa]=KDat
Name[xh]=KDat
Name[x-test]=xxKDatxx
Name[zh_CN]=KDat
Name[zh_HK]=KDat
Name[zh_TW]=KDat
GenericName=Tape Backup Tool
GenericName[af]=Kaset Rugsteun Program
GenericName[be]=Начынне для архівавання на магнітныя ленты
GenericName[bg]=Лентов архиватор
GenericName[bn]=টেপ ব্যাকআপ সরঞ্জাম
GenericName[br]=Ostilh saveteiñ war seizenn
GenericName[ca]=Utilitat per a còpies de seguretat en cintes
GenericName[cs]=Zálohování na pásku
GenericName[cy]=Erfyn Cefn-gopïo ar Dâp
GenericName[da]=Værktøj til sikkerhedskopiering på bånd
GenericName[de]=Dienstprogramm für Bandsicherungen
GenericName[el]=Εργαλείο λήψης αντιγράφων ασφαλείας σε κασέτα
GenericName[en_GB]=Tape Backup Tool
GenericName[eo]=Bendsekurigilo
GenericName[es]=Copia de cintas
GenericName[et]=Varukoopiate haldamine (lindil)
GenericName[eu]=Zintako babeskopia tresna
GenericName[fa]=ابزار پشتیبانی نوار
GenericName[fi]=Nauhavarmistustyökalu
GenericName[fr]=Outil de sauvegarde sur bandes
GenericName[ga]=Uirlis Chúltaca Téipe
GenericName[gl]=Copia de seguridade en cintas
GenericName[he]=כלי גיבוי באמצעות סרט
GenericName[hi]=टेप बैकअप औजार
GenericName[hne]=टेप बैकअप औजार
GenericName[hr]=Alat za izradu sigurnosne kopije na traci
GenericName[hu]=Szalagos mentés
GenericName[is]=Spólu afritunartól
GenericName[it]=Strumento per la copia di sicurezza su nastro
GenericName[ja]=テープバックアップツール
GenericName[kk]=Таспаға сақтық көшірмелеу құралы
GenericName[ko]=테이프 백업 도구
GenericName[lt]=Juostinio archyvavimo priemonė
GenericName[lv]=Lentas rezerves kopiju veidošanas rīks
GenericName[mk]=Алатка за заштитни копии на ленти
GenericName[ml]=ടേപ്പിന്റെ കരുതല്‍ പകര്‍പ്പെടുക്കാനുള്ള പ്രയോഗം
GenericName[ms]=Alat Ganti Sedia
GenericName[nb]=Verktøy for sikkerhetskopiering til magnetbånd
GenericName[nds]=Bandsekerheitkopiewarktüüch
GenericName[ne]=टेप ब्याकअप उपकरण
GenericName[nl]=Tape backup-programma
GenericName[nn]=Reservekopiering på band
GenericName[pa]=ਟੇਪ ਬੈਕਅੱਪ ਟੂਲ
GenericName[pl]=Narzędzie do kopii na taśmie
GenericName[pt]=Ferramenta de Salvaguarda em Fita
GenericName[pt_BR]=Ferramenta de backup em fita
GenericName[ro]=Utilitar de salvare pe benzi
GenericName[ru]=Утилита архивирования на ленту
GenericName[se]=Liigemáŋgen báddái
GenericName[sk]=Zálohovanie na pásku
GenericName[sl]=Orodje za tračne rezervne kopije
GenericName[sv]=Verktyg för bandsäkerhetskopiering
GenericName[ta]=நாடா காப்பக கருவி
GenericName[tg]=Утилита барои архив кардан ба тасма
GenericName[th]=เครื่องมือเทปสำรองข้อมูล
GenericName[tr]=Teyp Yedekleme Aracı
GenericName[uk]=Засіб резервування на стрічку
GenericName[vi]=Công cụ sao lưu băng
GenericName[wa]=Usteye di copeyes di såvrité so bindes
GenericName[xh]=Isixhobo Sokuncedisa Iteyipu
GenericName[x-test]=xxTape Backup Toolxx
GenericName[zh_CN]=磁带备份工具
GenericName[zh_HK]=磁帶備份工具
GenericName[zh_TW]=磁帶備份工具
Exec=kdat %i -caption "%c"
Icon=kdat
Type=Application
X-KDE-StartupNotify=true
X-DocPath=kdat/index.html
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;X-KDE-More;
