# KDE Config File
[Desktop Entry]
Type=Application
Exec=kdesu knetworkconf -caption "%c" %i
Icon=knetworkconf
X-DocPath=knetworkconf/index.html
Comment=Configure TCP/IP settings
Comment[ar]=اضبط إعدادات بروتوكول التحكم بالنقل/بروتوكول الإنترنت
Comment[be]=Наставіць TCP/IP
Comment[bg]=Настройване настройките на TCP/IP
Comment[bn]=টিসিপি/আইপি মানসমূহ কনফিগার করে
Comment[br]=Kefluniañ an dibarzhoù TCP/IP
Comment[ca]=Configura els paràmetres TCP/IP
Comment[cs]=Nastavení TCP/IP
Comment[da]=Indstil TCP/IP
Comment[de]=TCP/IP-Einstellungen einrichten
Comment[el]=Διαμόρφωση των ρυθμίσεων TCP/IP
Comment[en_GB]=Configure TCP/IP settings
Comment[es]=Configure los parámetros TCP/IP
Comment[et]=TCP/IP seadistuste seadistamine
Comment[eu]=Konfiguratu TCP/IP ezarpenak
Comment[fa]=پیکربندی تنظیمات TCP/IP
Comment[fi]=Aseta TCP/IP-asetukset
Comment[fr]=Configuration des paramètres TCP/IP
Comment[ga]=Cumraigh Socruithe TCP/IP
Comment[gl]=Configuración de TCP/IP
Comment[he]=שינוי הגדרות TCP/IP
Comment[hi]=टीसीपी/आईपी विन्यास कॉन्फ़िगर करें
Comment[hne]=टीसीपी/आईपी सेटिंग कान्फिगर करव
Comment[hr]=Konfiguriranje TCP/IP postavki
Comment[hu]=A TCP/IP beállításai
Comment[hy]=Կարգավորել TCP/IP պարամետրերը
Comment[is]=Umsjón TCP/IP stillinga
Comment[it]=Configura le impostazioni TCP/IP
Comment[ja]=TCP/IP の設定
Comment[kk]=TCP/IP параметрлерін баптау
Comment[ko]=TCP/IP 설정
Comment[lt]=Konfigūruoti TCP/IP nustatymus
Comment[lv]=Konfigurē TCP/IP iestatījumus
Comment[mk]=Конфигурирајте поставувања за TCP/IP
Comment[ml]=ടിസിപി/ഐപിയുടെ സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[nb]=Sett opp TCP/IP-innstillinger
Comment[nds]=TCP/IP-Instellen fastleggen
Comment[ne]=टीसीपी/आईपी सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=TCP/IP instellen
Comment[nn]=Set opp TCP/IP
Comment[pa]=TCP/IP ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień TCP/IP
Comment[pt]=Configurar as opções de TCP/IP
Comment[pt_BR]=Configura as definições TCP/IP
Comment[ro]=Configurează setările TCP/IP
Comment[ru]=Настройка параметров TCP/IP
Comment[se]=Heivet TCP/IP:a
Comment[sk]=Konfigurácia nastavení TCP/IP
Comment[sl]=Nastavite TCP/IP nastavitve
Comment[sv]=Anpassa TCP/IP-inställningar
Comment[th]=ปรับแต่งการตั้งค่า TCP/IP
Comment[tr]=TCP/IP ayarlarını yapılandır
Comment[uk]=Налаштувати параметри TCP/IP
Comment[vi]=Cấu hình thiết lập TCP/IP
Comment[wa]=Apontyî les tchuzes TCP/IP
Comment[x-test]=xxConfigure TCP/IP settingsxx
Comment[zh_CN]=配置 TCP/IP 设置
Comment[zh_HK]=設定 TCP/IP 設置
Comment[zh_TW]=設定 TCP/IP
Terminal=false
Name=KNetworkConf
Name[be]=KNetworkConf
Name[bg]=KNetworkConf
Name[bn]=কে-নেটওয়ার্ক-কন্ফ
Name[br]=KNetworkConf
Name[ca]=KNetworkConf
Name[cs]=KNetworkConf
Name[da]=KNetworkConf
Name[de]=KNetworkConf
Name[el]=KNetworkConf
Name[en_GB]=KNetworkConf
Name[es]=KNetworkConf
Name[et]=KNetworkConf
Name[eu]=KNetworkConf
Name[fi]=KNetworkConf
Name[fr]=KNetworkConf
Name[ga]=KNetworkConf
Name[gl]=KNetworkConf
Name[he]=KNetworkConf
Name[hi]=के-नेटवर्क-कॉन्फ़
Name[hne]=के-नेटवर्क-कान्फ
Name[hr]=KNetworkConf
Name[hu]=KNetworkConf
Name[hy]=KNetworkConf
Name[is]=KNetworkConf
Name[it]=KNetworkConf
Name[ja]=KNetworkConf
Name[kk]=KNetworkConf
Name[ko]=KNetworkConf
Name[lt]=KNetworkConf
Name[lv]=KNetworkConf
Name[mk]=KNetworkConf
Name[ml]=കെനെറ്റ്‌വര്‍ക്ക്കോണ്‍ഫ്
Name[nb]=KNetworkConf
Name[nds]=KNetworkConf
Name[ne]=KNetworkConf
Name[nl]=KNetworkConf
Name[nn]=KNetworkConf
Name[pa]=ਕੇ-ਨੈੱਟਵਰਕ-ਸੰਰਚਨਾ
Name[pl]=KNetworkConf
Name[pt]=KNetworkConf
Name[pt_BR]=KNetworkConf
Name[ro]=KNetworkConf
Name[ru]=KNetworkConf
Name[se]=KNetworkConf
Name[sk]=KNetworkConf
Name[sl]=KNetworkConf
Name[sv]=Knetworkconf
Name[th]=KNetworkConf
Name[tr]=KNetworkConf
Name[uk]=KNetworkConf
Name[vi]=KNetworkConf
Name[wa]=KNetworkConf
Name[x-test]=xxKNetworkConfxx
Name[zh_CN]=KNetworkConf
Name[zh_HK]=KNetworkConf
Name[zh_TW]=KNetworkConf
GenericName=Configure TCP/IP Settings
GenericName[be]=Наставіць TCP/IP
GenericName[bg]=Настройване настройките на TCP/IP
GenericName[bn]=টিসিপি/আইপি মানসমূহ কনফিগারেশন
GenericName[br]=Kefluniañ an dibarzhoù TCP/IP
GenericName[ca]=Configura els paràmetres TCP/IP
GenericName[cs]=Nastavení TCP/IP možností
GenericName[da]=Indstil TCP/IP
GenericName[de]=TCP/IP-Einstellungen einrichten
GenericName[el]=Διαμορφώστε τις ρυθμίσεις TCP/IP
GenericName[en_GB]=Configure TCP/IP Settings
GenericName[es]=Configure los parámetros TCP/IP
GenericName[et]=TCP/IP seadistuste seadistamine
GenericName[eu]=Konfiguratu TCP/IP ezarpenak
GenericName[fa]=پیکربندی تنظیمات TCP/IP
GenericName[fi]=Aseta TCP/IP-asetukset
GenericName[fr]=Configuration des paramètres TCP/IP
GenericName[ga]=Cumraigh Socruithe TCP/IP
GenericName[gl]=Configuración de TCP/IP
GenericName[he]=שינוי הגדרות TCP/IP
GenericName[hi]=टीसीपी/आईपी विन्यास कॉन्फ़िगर करें
GenericName[hne]=टीसीपी/आईपी सेटिंग कान्फिगर करव
GenericName[hr]=Konfiguriranje TCP/IP postavki
GenericName[hu]=TCP/IP-beállítások
GenericName[hy]=Կարգավորել TCP/IP Պարամետրերը
GenericName[is]=Umsjón TCP/IP stillinga
GenericName[it]=Configura le impostazioni TCP/IP
GenericName[ja]=TCP/IP の設定
GenericName[kk]=TCP/IP параметрлерін баптау
GenericName[ko]=TCP/IP 설정
GenericName[lt]=Konfigūruoti TCP/IP nustatymus
GenericName[lv]=Konfigurē TCP/IP iestatījumus
GenericName[mk]=Конфигурирајте поставувања за TCP/IP
GenericName[ml]=ടിസിപി/ഐപിയുടെ സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
GenericName[nb]=Sett opp TCP/IP-innstillinger
GenericName[nds]=TCP/IP-Instellen setten
GenericName[ne]=टीसीपी/आईपी सेटिङ कन्फिगर गर्नुहोस्
GenericName[nl]=TCP/IP instellen
GenericName[nn]=Set opp TCP/IP
GenericName[pa]=TCP/IP ਸੈਟਿੰਗ ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja ustawień TCP/IP
GenericName[pt]=Configurar as Opções de TCP/IP
GenericName[pt_BR]=Configura as definições TCP/IP
GenericName[ro]=Configurează setările TCP/IP
GenericName[ru]=Конфигурация TCP/IP
GenericName[se]=Heivet TCP/IP:a
GenericName[sk]=Konfigurácia nastavení TCP/IP
GenericName[sl]=Nastavite TCP/IP nastavitve
GenericName[sv]=Anpassa TCP/IP-inställningar
GenericName[th]=ปรับแต่งการตั้งค่า TCP/IP
GenericName[tr]=LILO'yu Yapılandır
GenericName[uk]=Налаштувати параметри TCP/IP
GenericName[vi]=Cấu hình thiết lập TCP/IP
GenericName[wa]=Apontyî les tchuzes TCP/IP
GenericName[x-test]=xxConfigure TCP/IP Settingsxx
GenericName[zh_CN]=配置 TCP/IP 设置
GenericName[zh_HK]=設定 TCP/IP 設置
GenericName[zh_TW]=設定 TCP/IP
